{% extends "base.html" %}

{% block title %} 分类 | {{ super() }}{% endblock title %}

{%- block content %}
    <div class="niu2-page">
      <h1>分类</h1>
      <ul id="category-list">
      {% for category, n in categories %}
      <li><a href="{{ SITEURL }}/{{ category.url }}">
        {% if MY_CATEGORY_MAP %}
            {{ MY_CATEGORY_MAP[category][0] }}
        {% else %}
            {{ category }}
        {% endif  %}
      </a>({{ n|count }})</li>
      {% endfor %}
      </ul>
    </div>
{% endblock content %}
