<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ SITEURL }}">
            <i class="icon-home"></i> {{ SITENAME }}
        </a>
    </div>
	<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		<ul class="nav navbar-nav">
		{% if MY_HEADER_SECTIONS %}
		{% for section in MY_HEADER_SECTIONS %}
			<li><a href="{{ section[2] }}" title="{{ section[1] }}">
			    <i class="{{ section[3] }}"></i> {{ section[0] }}</a>
			</li>
		{% endfor %}
		{% else %}
		<li>
			 <i class="icon-archive"></i>
			 <a href="{{ SITEURL }}/{{ ARCHIVE_SAVE_AS | default('archives.html') }}">Archive</a>
		</li>
		<li>
			 <i class="icon-tag"></i>
			 <a href="{{ SITEURL }}/{{ TAGS_SAVE_AS | default('tags.html') }}">Category</a>
		</li>
		{% endif %}
		<!-- category dropdown list -->
		<li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-folder-open"></i>分类<b class="caret"></b>
           </a>
           <ul class="dropdown-menu">
               {% for cat, article_list in categories %}
               <li><a href="{{ SITEURL }}/{{ cat.url }}">
                   {% if MY_CATEGORY_MAP %}
                      <i class="{{ MY_CATEGORY_MAP[cat][1] }}"></i>
	                  {{ MY_CATEGORY_MAP[cat][0] }}
	               {% else %}
	               {{ cat }}
	               {% endif %}
                      ({{ article_list | count }})</a></li>
               {% endfor %}
           </ul>
        </li>
        <!--  self defined dropdown list -->
		{% if MY_HEADER_DROPDOWN_SECTIONS %}
		{% for dpsection, dplinks in MY_HEADER_DROPDOWN_SECTIONS.items() %}
		<li class="dropdown">
		   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		       <i class="{{ dpsection[1] }}"></i> {{ dpsection[0] }}<b class="caret"></b>
		   </a>
		   <ul class="dropdown-menu">
		   {% for link in dplinks %}
		       <li><a href="{{ link[2] }}" title="{{ link[1] }}">
                 <i class="{{ link[3] }}"></i>
                 {{ link[0] }}</a>
		       </li>
		   {% endfor %}
		   </ul>
		</li>
		{% endfor %}
        {% endif %}
		<!--  table of contents of page or article -->
		{% if page or article %}
		<li class="dropdown dropdown-toc">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               <i class="icon-list-ul"></i>
               {{ MY_HEADER_TOC_NAME | default("TOC") }}<b class="caret"></b>
           </a>
           {% if page %}
           {{ page.html_toc | default("") }}
           {% elif article %}
           {{ article.html_toc | default("") }}
           {% endif %}
        </li>
        {% endif %}
		<!-- google custom search -->
		{% if MY_GOOGLE_CSE_ID %}
			<div class="navbar-form navbar-right">
            	<script>
				  (function() {
				    var cx = '{{ MY_GOOGLE_CSE_ID }}';
				    var gcse = document.createElement('script');
				    gcse.type = 'text/javascript';
				    gcse.async = true;
				    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				        '//www.google.com/cse/cse.js?cx=' + cx;
				    var s = document.getElementsByTagName('script')[0];
				    s.parentNode.insertBefore(gcse, s);
				  })();
				</script>
				<gcse:searchbox-only></gcse:searchbox-only>
          </div>
		{% endif %}
		</ul>
	</nav>
</div>
