{% extends "base.html" %}

{% block title %}{{ page.html_h1 | default(page.title) }} - {{ super() }}{% endblock %}

{% block head_init %}
{{ super() }}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments/{{ NIUX2_PYGMENTS_THEME | default("github") }}.css" type="text/css" />
{% endblock head_init %}

{% block head_js_onload %}
initTocScrollAnination();
{% endblock head_js_onload %}

{% block content %}
    <div class="niu2-page">
        {% if NIUX2_DISPLAY_TITLE is not defined or NIUX2_DISPLAY_TITLE %}
            <h1>{{ page.title }}</h1>
        {% endif %}
        {{ page.content }}
    </div>
{% endblock %}
